<div class="container-fluid text-center" style="background: linear-gradient(to right, #141e30, #243b55);">
  <div class="row">
    <div class="col-md-6" style="margin-top: 30px; padding:0px 40px;">
      <h3 style="color: white;">About Our Product</h3>
      <p style="color: white; text-align: justify; font-size: 16px;">
        Web School ERP is a web-based school management system developed in MVC architecture.
        It’s a world-class company designed to provide world-class school administration software.
        Web School ERP is designed and developed by Gescis Technologies Pvt Ltd. Our primary
        motive is to build an online solution for schools, with integrated modules to manage
        all aspects of school administration bringing the parent, students, staffs, and teachers
        under one digital platform. Web School ERP provides 24-hours customer support service
        to its clients and also offers its service at its best at a much more affordable price.
        Web School ERP work daily to make it customer choice in all year round.\

      </p>
      <!-- <div class="quick-links">
        <h3 style="color: white;font-size: 16px;">Quick Links</h3>
        <a href="#" style="color: white; font-size: 15px;">Fees management</a><br>
        <a href="#" style="color: white; font-size: 15px;">school management</a><br>
        <a href="#" style="color: white; font-size: 15px;">Attendence management</a><br>
        <a href="#" style="color: white; font-size: 15px;">Student management</a>
      </div> -->
    </div>

    <div class="col-md-6" style="margin-top: 30px;">
      <h3 style="color: white; font-size: 29px;">Contact Info</h3>
      <address style="color: white; text-align: justify;font-size: 16px;">
        Global Delivery Center :
        Proacscent Business Solutions Pvt Ltd
        #1, 2nd Floor, M.C. Plaza
        1st Main, 1st Cross,
        Ganganagar, R T Nagar,
        Bangalore, India-560032
        Tel: +91 80 481 43601
      </address>
      <div class="social-links">
        <h4 style="color: white;font-size: 16px; margin-bottom: 25px;">You Can Follow Us...</h4>
        <div class="faf">
          <a [routerLink]="['/']" style="padding: 10px 18px;"><i class="fa fa-facebook text-primary"></i></a>
          <a [routerLink]="['/']"><i class="fa fa-twitter text-info"></i></a>
          <a [routerLink]="['/']"><i class="fa fa-phone text-success"></i></a>
          <a [routerLink]="['/']"><i class="fa fa-google text-danger"></i></a>
          <a [routerLink]="['/']"><i class="fa fa-linkedin text-info"></i></a>
        </div>
      </div>
    </div>  

  </div>

</div>
<div class="container-fluid" style="background: linear-gradient(to right, #141e30, #243b55);">
  <div class="row">
    
    
  </div>

</div>