   <!-- Dropdown -->
   <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop" data-toggle="dropdown" style=" color: black;">
          Features
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" routerLink="['/attendence']">Attendance Management</a>
          <a class="dropdown-item" routerLink="['/student']">Students Management</a>
          <a class="dropdown-item" routerLink="['/parent']">Parent Management</a>
          <a class="dropdown-item" routerLink="['/teacher']">Teacher Management</a>
          <a class="dropdown-item" routerLink="['/fees']">Fees Management</a>
      
        </div>

        
      </li>