<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
<div class="container-fluid">
        <div class="row" style="background-color:white;">
          <div  style="font-size: x-large; color: black;">
            <nav class="navbar navbar-expand-sm bg-white navbar-white">
              <!-- Brand -->
              <img src="../../assets/img/logo.png" alt="second slide" style="display: block; width: 150px;width: 150px;">
            
              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home']" style=" color: black;">Home</a>
                </li>
                 <!-- Dropdown -->
                 <li class="nav-item dropdown dmenu">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop" data-toggle="dropdown" style=" color: black;">
                    Features
                  </a>
                  <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" [routerLink]="['/attendence']" style="font-size: 16px;">Attendance Management</a>
                    <a class="dropdown-item" [routerLink]="['/student']"style="font-size: 16px;">Students Management</a>
                    <a class="dropdown-item" [routerLink]="['/parent']"style="font-size: 16px;">Parent Management</a>
                    <a class="dropdown-item" [routerLink]="['/teacher']"style="font-size: 16px;">Teacher Management</a>
                    <a class="dropdown-item" [routerLink]="['/fees']"style="font-size: 16px;">Fees Management</a>
                
                  </div>
          
                  
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" [routerLink]="['/about']" style=" color: black;">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"[routerLink]="['/contactus']" style=" color: black;">Contact Us</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link "[routerLink]="['/login']" style=" color: black;">Login</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link"[routerLink]="['/login']" style=" color: black;">Register</a>
                </li>
               
               
              </ul>
            </nav>
        </div>
        </div>










        <!-- <div class="row">
  <div class="col-sm-4">
      <div class="card" style="width: 28rem; margin: 25px;">
         <a routerLink="/"><img src="../../assets/img/student.jpg" class="card-img-top" height="170px;" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Student Management</h5>
            <a href="#" class="btn btn-light"style="border: 1px solid black;">Learn More</a>
          </div>
        </div>
  </div>
  <div class="col-sm-4">
      <div class="card" style="width: 28rem;">
          <img src="../../assets/img/student.jpg" class="card-img-top"  height="170px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fees Management</h5>
            <a href="#" class="btn btn-light"style="border: 1px solid black;">Learn More</a>
          </div>
        </div>
  </div>
  <div class="col-sm-4">
      <div class="card" style="width: 28rem;">
          <img src="../../assets/img/school.jpg" class="card-img-top" height="165px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">School Management</h5>
            <a href="#" class="btn btn-light" style="border: 1px solid black;">Learn More</a>
          </div>
        </div>
  </div>

</div> -->