<app-demo6></app-demo6>

<!-- register -->
<div class="container-fluid main-content">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 mt-5 mb-5">
      <div id="ui">
        <h3 style="text-align: center; color:white;">Register Here</h3>
        <br>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="form-group">
          <div class="row">
            <div class="col-lg-6">
              <label for="Name">First Name</label>
              <input type="text" formControlName="firstname" class="form-control" placeholder="Enter First Name"
                required>
            </div>

            <div class="error" *ngIf="registerForm.get('firstname').hasError('required') && (registerForm.get('firstname').touched 
                        || registerForm.get('firstname').dirty)">
              <small>Please enter your first name</small>
            </div>

            <div class="col-lg-6">
              <label for="Name">Last Name</label>
              <input type="text" formControlName="lastname" class="form-control" placeholder="Enter Second Name"
                required>
            </div>

          </div><br>
          <div>
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter Email" required>
          </div>
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error"
              *ngIf="registerForm.get('email').hasError(validation.type)  && (registerForm.get('email').dirty || registerForm.get('email').touched)">
              <small>{{ validation.message}}</small>
            </div>
          </ng-container>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <label for="Name">Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder="Enter password"
                required>
            </div>
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error"
                *ngIf="registerForm.get('password').hasError(validation.type)  && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                <small>{{ validation.message}}</small>
              </div>
            </ng-container>
            <div class="col-lg-6">
              <label for="Name">Phone Number</label>
              <input type="text" (keypress)="isInputNumber($event)" class="form-control" formControlName="phoneNumber"
                placeholder="Enter Phone Number" required>
            </div>
            <ng-container *ngFor="let validation of validation_messages.mobileNumber">
              <div class="error"
                *ngIf="registerForm.get('phoneNumber').hasError(validation.type)  && (registerForm.get('phoneNumber').dirty || registerForm.get('phoneNumber').touched)">
                <small>{{ validation.message}}</small>
              </div>
            </ng-container>

          </div><br>
          <label for="confirm">confirm password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password"
            required>
          <br>.
          <div class="row">
            <div class="col-lg-12">
              <button (click)="register(registerForm.value)" class="btn btn-success btn-block">Register</button>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>