<app-demo6></app-demo6>
<!-- register -->
<div class="container-fluid main-content">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 mt-5 mb-5">
      <div id="ui">
        <h3 style="text-align: center; color:white;">Login Here!!</h3>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div>
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter User Name" required>
          </div>
          <br>
          <div>
            <label for="Name">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"
              required>
          </div>
          <br>
          <div>
            <div >
              <button type="submit" (click)="login()" class="btn btn-primary btn-block">Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>