<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<app-demo6></app-demo6>
<hr/>
<div class="container-fluid text-center">
<div class="wrapper">


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>Parents</h3>
                <hr/>
            </div>
           

        </div>
        <br><br>
        <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                            <img src="../../assets/img/az1.jpg" class="card-img-top" class="img-responsive" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Home Work</h5>
                              <a href="#" class="btn btn-primary btn-block">View HomeWork</a>
                            </div>
                          </div>
            </div>
            <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                            <img src="../../assets/img/az2.jpg" class="card-img-top" class="img-responsive" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Attendence</h5>
                              <a href="#" class="btn btn-primary  btn-block">View Attendence</a>
                            </div>
                          </div>
            </div>

        </div><br>
        <div class="row">
                <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/img/az3.png" class="card-img-top" class="img-responsive" alt="..." style="height: 250px; width: 270px;">
                                <div class="card-body">
                                  <h5 class="card-title">Post Message</h5>
                                  <a [routerLink]="['/message']" class="btn btn-primary  btn-block">Post Message</a>
                                </div>
                              </div>
                </div>
                <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                                <img src="../../assets/img/az4.png" class="card-img-top" class="img-responsive" alt="..."style="height: 250px; width: 270px;">
                                <div class="card-body">
                                  <h5 class="card-title">Result</h5>
                                  <a [routerLink]="['/']" class="btn btn-primary  btn-block">View Result</a>
                                </div>
                              </div>
                </div>
    
            </div>
        </div>

    </div>
</div>
</div>
<br>
<app-footer></app-footer>