<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <app-demo6></app-demo6>
  <br><br><br><br><br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Roll Number</th>
        <th scope="col">Attendence Percentage</th>
        <!-- <th scope="col">Attendence Percentage</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mark</th>
        <td>1023</td>
        <td>70.58%</td>
        <!-- <td>70.23%</td> -->
      </tr>
      <tr>
        <th scope="row">jacob</th>
        <td>1025</td>
        <td>58.58%</td>
        <!-- <td>68.45%</td> -->
      </tr>
      <tr>
        <th scope="row">Larry</th>
        <td>1022</td>
        <td>87.00%</td>
        <!-- <td>58.45%</td> -->
      </tr>
    </tbody>
  </table>

  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br>






  <app-footer></app-footer>


</body>