<div class="container-fluid">
        <div class="row" style="background-color:white;">
          <div class="col-md-12" style="font-size: x-large; color: black;">
            <nav class="navbar navbar-expand-sm bg-white navbar-white">
              <!-- Brand -->
              <img src="../../assets/img/logo.png" alt="second slide" style="display: block; width: 150px;width: 150px;">
            
              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="home" style=" color: black;">Home</a>
                </li>
                 <!-- Dropdown -->
                 <li class="nav-item dropdown dmenu">
                  <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbardrop" data-toggle="dropdown" style=" color: black;">
                    Features
                  </a>
                  <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" routerLink="['/attendence']">Attendance Management</a>
                    <a class="dropdown-item" routerLink="['/student']">Students Management</a>
                    <a class="dropdown-item" routerLink="['/parent']">Parent Management</a>
                    <a class="dropdown-item" routerLink="['/teacher']">Teacher Management</a>
                    <a class="dropdown-item" routerLink="['/fees']">Fees Management</a>
                
                  </div>
          
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about" style=" color: black;">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contactus" style=" color: black;">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login" style=" color: black;">Login</a>
                </li>
                <li>
                 
                    <a href="https://www.facebook.com"> <i class="fa fa-facebook" style="font-size:38px;color:black;margin-left: 6in;padding-right: 10px;"></i></a>
                 <a href="https://twitter.com/login?lang=en">   <i class="fa fa-twitter" style="font-size:38px;color:black;margin-left: 10px;"></i></a>
                  <a href="https://www.instagram.com/accounts/login/?hl=en">       <i class="fa fa-instagram" style="font-size:38px;color:black;margin-left: 15px;"></i></a>
                    
                  
                </li>
              </ul>
            </nav>
        </div>
        <app-footer></app-footer>